* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4; 
}


nav {
    background-color: #003366; 
    color: white;
    padding: 10px 0;
}

.warpper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.menu a:hover {
    color: #00509e; 

}
h1, h2, h3 {
    color: #003366; 
}

section {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto; 
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #003366; 
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
